.content .block50 .info {
    margin-left: 122px;
}

.span3.pull-right {
    width: 200px;
}

.span7 {
    width: 520px;
}

h2 {
    margin-bottom: 25px;
}

#image_gallery {
    margin-bottom: 35px;
}

.breadcrumb {
    font-size: 11px;
}

.yellow {
    font-size: 16px;
    color: #f6ff04;
}

.cake {
    width: 485px;
}

.thumber {
    width: 220px;
    height: 220px;
    padding: 5px;
    background: url("../images/border.png");
    border-radius: 4px;
    box-shadow: 0 0 14px #000;
}

.thumbs {
    overflow: auto;
    margin-bottom: 10px;
}

.thumbs a {
    display: block;
    width: 90px;
    float: left;
    height: 90px;
    padding: 3px;
    background: url("../images/border.png");
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    margin-right: 10px;
}

.txt.first {
    margin-bottom: 10px;
}

.cake {
    margin-bottom: 40px;
}

.cake .thumber {
    float: left;
}

.cake .info, .comments .info {
    margin-left: 30px;
    width: 225px;
    float: left;
    font-size: 12px;
    line-height: 16px;
}

.cake .info h2, .comments h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.cake .price, .comments .price{
    float: left;
    font-family: 'vetren', serif;
    font-size: 24px;
    color: #f6ff07;
    display: block;
    padding-top: 25px;

}

.cake .price span, .comments .price span{
    font-size: 36px;
}


.cake .price em, .comments .price em{
    font-style: normal;
    font-size: 18px;
    color: #fff;
}

.cake .order, .comments .order{
    background: url("../images/order-but.png") no-repeat top;
    height: 24px;
    width: 126px;
    display: block;
    float: left;
    color: #000;
    font-family: 'vetren', serif;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    margin-right: 35px;
    border-radius: 10px;
    margin-top: 30px;
}

.cake .order:hover, .comments .order:hover {
    background: url("../images/order-but.png") no-repeat 0 -45px;

}

.comments .order {
    height: 35px;
    font-size: 26px;
    line-height: 26px;
}

.pager {
    margin-bottom: 40px;
    font-size: 13px;
}

.pager strong {
    margin: 0 4px;
}

.pager a {
    color: #f6ff04;
    margin: 0 4px;
}

.pager a:hover {
    text-decoration: none;
}

.comments {
    display: none;
    position: fixed;
    width: 260px;
    top: 20px;
    bottom: 20px;
    right: 20px;
    background: #000 url("../images/body-bg.jpg") no-repeat top right;
    z-index: 100100;
    padding: 10px;
    box-shadow: 0 0 6px #777b0a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 13px;
    line-height: 20px;
}

.ilightbox-thumbnails.rightcom {
    right: 320px;
}