body {
    background: #000 url("../images/body-bg.jpg") no-repeat center top;
    font-family: Arial, sans-serif;
    color: #fff;
}

p {
    font-size: 14px;
}

#container {
    min-width: 1024px;
}

a {
    color: #fff;

}

.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.top .lp {
    font-family: "vetren", serif;
    font-size: 48px;
    color: #f6ff04;
    text-align: left;
    width: 345px;
    border-bottom: 2px solid #8e8e8e;
    height: 85px;
    padding-top: 50px;

}

.top .lp span {
    color: #fff;
    font-size: 30px;
}

.top .rp {
    width: 345px;
    font-size: 14px;
    text-align: right;
    border-bottom: 2px solid #8e8e8e;
    height: 60px;
    padding-top: 75px;

}

.top .logo {
    display: block;
    width: 279px;
    height: 137px;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 0;
}

.main-menu {
    padding-top: 35px;
    margin-bottom: 40px;
}

.main-menu li {
    float: left;
    margin-right: 106px;
}

.main-menu li.last {
    margin-right: 0;
}

.main-menu li a {
    color: #fff;
    text-decoration: underline;
    font-family: "vetren", sans-serif;
    font-size: 24px;

}

.main-menu li a:hover {
    text-decoration: none;
}

.main-menu li.active a {
    color: #f6ff04;
    text-decoration: none;
}

.content {
    padding-top: 65px;
    background: url("../images/body-bg.jpg") no-repeat center top;
}

.content .block50 a {
    text-decoration: none;
    display: block;

}

.content .block50 a:hover .name {
    text-decoration: none;
}

.content .block50 span {
    display: block;
}

.content .block50 .name {
    font-family: 'vetren', serif;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.content .block50 .name:hover {
    text-decoration: none;
}

.content .block50 img {
    float: left;
}

.content .block50 .info {
    display: block;
    margin-left: 35px;
}

.content .block50 p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.content .block50 .more {
    color: #f6ff04;
    font-size: 14px;
    background: url("../images/arr-more.png") no-repeat right;
    padding-right: 20px;
    float: left;
}

.content .block50 {
    width: 430px;
    margin-bottom: 55px;

}

.content .txt p {
    line-height: 18px;
    margin-bottom: 20px;
    font-size: 14px;
}

.txt {
    margin-bottom: 70px;
}

.footer .container {
    border-top: 2px solid #808080;
    height: 105px;

}

.footer li a {
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-decoration: underline;

}

.footer li {
    float: left;
    margin-right: 20px;
    padding-top: 40px;

}

.footer li a:hover {
    text-decoration: none;
}

.footer .contacts {
    text-align: right;
}

.footer .contacts span {
    display: block;
    font-family: 'vetren', serif;
    font-size: 34px;
    padding-top: 20px;
    margin-bottom: 10px;

}

.footer .contacts span em {
    font-style: normal;
    font-size: 21px;
}

.footer .contacts p {
    font-size: 14px;
    margin-bottom: 15px;

}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
}

.slider {
    float: left;
    overflow: hidden;
    height: 376px;
    border: 7px solid #3b3b3b;
    border-radius: 6px;
    width: 534px;
    margin-right: 25px;
    margin-bottom: 30px;
}

h1 {
    font-family: "vetren", serif;
    font-size: 36px;
    margin-bottom: 15px;
}

.txt .more {
    color: #f6ff04;
    background: url("../images/arr-more.png") no-repeat right;
    padding-right: 23px;
    font-size: 14px;
    text-decoration: none;

}

.txt .more:hover {
    text-decoration: underline;
}

.txt .phone {
    padding-top: 20px;
    font-family: 'vetren', serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.txt .order {
    background: url("../images/order-but.png") no-repeat top;
    height: 36px;
    width: 126px;
    display: block;
    float: left;
    color: #000;
    font-family: 'vetren', serif;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    padding-top: 9px;
    margin-right: 35px;
}

.txt .order:hover {
    background: url("../images/order-but.png") no-repeat bottom;

}

.txt .price {
    float: left;
    font-family: 'vetren', serif;
    font-size: 24px;
    color: #f6ff07;
    display: block;
    padding-top: 5px;

}

.txt .price span {
    font-size: 36px;
}

.txt .price em {
    font-style: normal;
    font-size: 18px;
    color: #fff;
}

h2 {
    font-size: 30px;
    font-family: "vetren", serif;
    margin-bottom: 45px;
}

.podpis {
    margin-bottom: 60px;
}

.decor {
    margin-bottom: 58px;
}

.decor .thumber {
    width: 360px;
    height: 360px;
}

.decor .info {
    margin-left: 390px;
    font-family: "vetren", serif;
}

.decor .info p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}

.decor .name {
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
}

.decor .price {
    font-size: 18px;
    margin-bottom: 10px;
}

.decor .price span {
    color: #f6ff07;
    font-size: 36px;
}

.decor .colors span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;

}

.colors li a {
    display: block;
    width: 30px;
    height: 30px;
    box-shadow: inset 1px 1px 2px #000;
}

.colors li {
    float: left;
    margin-right: 10px;
}

.colors li.active a {
    border: 1px solid #fff;
    box-shadow: none;
}

.colors {
    margin-bottom: 8px;
}

.buy {
    background: url("../images/buy-button.png") repeat-x top;
    border-radius: 3px;
    display: block;
    width: 99px;
    text-align: center;
    height: 27px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    padding-top: 8px;
}

.buy:hover {
    background-position: bottom;
}

.cake .thumber {
    width: 270px;
    height: 270px;
    overflow: hidden;
    margin-bottom: 15px;

}

.category-cake .cake {
    width: 270px;
    float: left;
    margin-right: 86px;
    margin-bottom: 50px;
}

.category-cake .cake.last {
    margin-right: 0;
}

.category-cake .cake p {
    margin-bottom: 15px;
    line-height: 16px;
}

.see-all {
    background: url("../images/buy-button.png") repeat-x top;
    color: #000;
    font-family: 'vetren', serif;
    font-size: 20px;
    width: 130px;
    height: 27px;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding-top: 8px;

}

.cake .name {
    font-family: 'vetren', serif;
    font-size: 26px;
    display: block;
    text-decoration: none;
    margin-bottom: 15px;
}

.cake .name:hover {
    text-decoration: underline;

}

.see-all:hover {
    background: url("../images/buy-button.png") repeat-x bottom;

}

.category-mc .thumber {
    float: left;
    width: 240px;
    height: 300px;
}

.category-mc .info {
    margin-left: 270px;
}

.category-mc .top-info .flr {
    margin-left: 200px;
}

.category-mc .top-info {
    margin-bottom: 50px;

}

.category-mc .top-info .phone {
    font-family: 'vetren', serif;
    font-size: 33px;
    margin-bottom: 20px;

}

.category-mc .top-info p{
    line-height: 16px;
}

.send-mes {
    background: url("../images/buy-button.png") repeat-x top;
    color: #000;
    font-family: 'vetren', serif;
    font-size: 28px;
    width: 150px;
    height: 37px;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding-top: 8px;
    float: right;

}

.send-mes:hover{
    background: url("../images/buy-button.png") repeat-x bottom;
}


.order {
    background: url("../images/buy-button.png") repeat-x top;
    color: #000;
    font-family: 'vetren', serif;
    font-size: 20px;
    width: 100px;
    height: 27px;
    text-decoration: none;
    border-radius: 4px;
    display: block;
    text-align: center;
    padding-top: 8px;


}

.order:hover{
    background: url("../images/buy-button.png") repeat-x bottom;
}


.mc{
    margin-bottom: 70px;
}

.mc .name{
    font-family: 'vetren', serif;
    text-decoration: none;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
    
}

.mc .name:hover{
    text-decoration: underline;
}


.mc p{
    line-height: 16px;
    font-size: 14px;
    margin-bottom: 25px;
}

.mc .price{
    font-family: 'vetren', serif;
    font-size: 18px;
    margin-bottom: 20px;
}

.mc .price span{
    font-size: 36px;
    color: #f6ff07;
}

.mc .price span em{
    font-style: normal;
    font-size: 24px;
}


.catalog-decorate.car .decor .thumber{
    width: 310px;
    height: 310px;

}


.catalog-decorate.car .info{
    margin-left: 340px;
}




